
#map, #map-section {
	width: 100%;
	height: calc( 100vh - 50px );
}

#map-section {
	padding-top: 50px;
/* 	margin-top: 50px; */
}

/* @media (max-width: 768px) { */
	.panel-body img {
		max-width: calc( 100vw - 80px )
	}
/* } */

@media (min-width: 768px) {
	.panel-body img {
		max-width: 670px;
	}
}

@media (min-width: 992px) {
	.panel-body img {
		max-width: 890px;
	}
}

@media (min-width: 1200px) {
	.panel-body img {
		max-width: 1090px;
	}
}

.panel-body {
	text-align: left;
}

img.logo, .navbar-brand img.logo {
	height: 50px;
	width: 50px;
	display:inline;
	margin-top: -15px;
}

img.coredarns {
	width: 5em;
	height: 5em;
	background: black;
	border-radius: 100%;
	padding: .5em;
}


/* Based off https://fontlibrary.org/face/trueno */

@font-face {
	font-family: 'Trueno';
	src: url('../fonts/trueno/TruenoBd.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Trueno';
	src: url('../fonts/trueno/TruenoRg.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}



/*!
* Based off (http://startbootstrap.com/template-overviews/creative),
* which is licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
*/
html,
body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Trueno', 'Helvetica Neue', Arial, sans-serif;
}
hr {
	border-color: #b54b4b;
	border-width: 3px;
	max-width: 50px;
}
hr.light {
	border-color: white;
}
a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	color: #b54b4b;
}
a:hover,
a:focus {
	color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
/* 	font-family: 'Trueno', 'Helvetica Neue', Arial, sans-serif; */
}
p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.bg-primary {
	background-color: #b54b4b;
}
.bg-dark {
	background-color: #dddddd;
	color: #222222;
}
.text-faded {
	color: rgba(255, 255, 255, 0.7);
}
section {
	padding: 100px 0;
}
aside {
	padding: 50px 0;
}
.no-padding {
	padding: 0;
}
.navbar-default {
	background-color: black;
	border-color: rgba(34, 34, 34, 0.05);
/* 	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; */
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
	color: #b54b4b;
/* 	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; */
	font-weight: 700;
	text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
	color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
	font-weight: 700;
	font-size: 12px;
	color: #dddddd;
	text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	color: #dddddd;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #b54b4b;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
	color: #b54b4b !important;
	background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
	background-color: transparent;
}
@media (min-width: 768px) {
	.navbar-default {
		border-color: rgba(255, 255, 255, 0.3);
	}
	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus {
		color: white;
	}
	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover {
		color: white;
	}
	.navbar-default.affix {
		background-color: white;
		border-color: rgba(34, 34, 34, 0.05);
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #b54b4b;
		font-size: 14px;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #eb3812;
	}
	.navbar-default.affix .nav > li > a,
	.navbar-default.affix .nav > li > a:focus {
		color: #dddddd;
	}
	.navbar-default.affix .nav > li > a:hover,
	.navbar-default.affix .nav > li > a:focus:hover {
		color: #b54b4b;
	}
}
header {
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url('../img/header.jpg');
	text-align: center;
	color: white;
}
header .header-content {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	width: 100%;
}
header .header-content .header-content-inner h1 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
}
header .header-content .header-content-inner hr {
	margin: 30px auto;
}
header .header-content .header-content-inner p {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	margin-bottom: 50px;
}
@media (min-width: 768px) {
	header {
		min-height: 100%;
	}
	header .header-content {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 0 50px;
	}
	header .header-content .header-content-inner {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	header .header-content .header-content-inner h1 {
		font-size: 50px;
	}
	header .header-content .header-content-inner p {
		font-size: 18px;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}
.section-heading {
	margin-top: 0;
}


.text-primary {
	color: #b54b4b;
}
.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}
.btn-default {
	color: #dddddd;
	background-color: white;
	border-color: white;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	color: #dddddd;
	background-color: #f2f2f2;
	border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: white;
	border-color: white;
}
.btn-default .badge {
	color: white;
	background-color: #dddddd;
}
.btn-primary {
	color: white;
	background-color: #b54b4b;
	border-color: #b54b4b;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: white;
	background-color: #ee4b28;
	border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #b54b4b;
	border-color: #b54b4b;
}
.btn-primary .badge {
	color: #b54b4b;
	background-color: white;
}
.btn {
	border: none;
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-xl {
	padding: 15px 30px;
}
::-moz-selection {
	color: white;
	text-shadow: none;
	background: #dddddd;
}
::selection {
	color: white;
	text-shadow: none;
	background: #dddddd;
}
img::selection {
	color: white;
	background: transparent;
}
img::-moz-selection {
	color: white;
	background: transparent;
}
body {
	webkit-tap-highlight-color: #dddddd;
}
